@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  display: flex;
  font-family: "Geist", sans-serif;
}

.sidebarLink {
  color: #94A3B8;
  font-size: 1.1rem;
  text-decoration: none;
}

.sidebarLink:hover {
  color: white;
  text-decoration: underline;
}